div.gallery
  div.gallery__bg
    img(src="#")
  div.gallery__search
    label Show me pictures of
    input(type="text" value="mountains")
  div.gallery__main
    div.gallery__core
      img(src="#")
    div.gallery__track
a.branding(href="https://jboxcreative.com" target="_blank")
  img(src="https://jboxcreative.com/wp-content/uploads/2018/12/jbox-logo-abstract-white-200x200.png")