@model CreateFolderViewModel

<form asp-action="CreateFolder" asp-controller="Home" method="post">
    <h2>Create a new folder</h2>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <input hidden asp-for="CreatorId" />
    <input hidden asp-for="ParentId" />
    <div class="form-group">
        <div class="row mb-3">
            <label>@Model.ParentName</label>
        </div>
        <div class="row mb-3">
            <label>@Model.ParentOwnerName</label>
        </div>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="FolderName" class="form-control" aria-required="true" placeholder="My folder" />
        <label asp-for="FolderName" class="form-label">Folder Name</label>
        <span asp-validation-for="FolderName" class="text-danger"></span>
    </div>
    <div class="checkbox mb-3">
        <label asp-for="IsPublic" class="form-label">
            <input class="form-check-input" asp-for="IsPublic" />
            @Html.DisplayNameFor(m => m.IsPublic)
        </label>
    </div>
    <div>
        <button id="create-folder-submit" type="submit" class="w-100 btn btn-lg btn-primary">Create Folder</button>
    </div>
</form>