@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<p>Hi, @Model.CurrentUser.UserName</p>
@Html.ActionLink("Create new folder","CreateFolder","Home",null,new{@class="btn btn-primary"})
<vc:folder-contents folder-id = @Model/>
